body{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
  background-color: black;
}
.button{
  cursor: pointer;
  background-color: rgb(204, 58, 204);
  border: none;
  width: 80px;
  height: 40px;
  font-size: 20px;
  font-family: cursive;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  margin-right: 5px;
}
.button:hover{
  transition-duration: 0.8s;
  background-color: purple;
}
.button:active{
  background-color: rgb(182, 110, 182);
}
#display{
  color: white;
  font-size: 30px;
  font-family: cursive;
  margin-bottom: 15px;
}